<div class="card-deck">
    <div class="card border  border-secondary" *ngFor="let playlist of playlists">
        <img class="card-img-top p-2" src="{{playlist.snippet.thumbnails.default.url}}" alt="Playlist image">
        <div class="card-body">
            <h6 class="card-title">{{playlist.snippet.title}}</h6>
        </div>
        <div class="border-top p-1">

            <button class="btn btn-outline-success p-1 w-100" (click)="viewPlaylist(playlist)">View</button>
            <div class="row p-1 m-0">
                <button class="col-6 p-1 btn btn-outline-warning " (click)="editPlaylist(playlist)">Edit</button>
                <button class="col-6  btn btn-outline-danger " (click)="deletePlaylist(playlist)">Delete</button>
            </div>
        </div>
    </div>
</div>