<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-light text-light  ">
        <a class="navbar-brand" href="#">Facebook Devc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">List Of Playlists</a>
                </li>
            </ul>
            <form (submit)="search()" class="form-inline my-3 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="searchKeyword"
                    name="search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class=" mx-3 btn btn-danger" (click)="logout()">Log Out</button>
        </div>
    </nav>
</header>
<div class="row m-0  mt-5">
    <div class="container col-xl-6">
        <button class="btn btn-success btn-lg" (click)="add()">Add a playlist</button>
        <app-playlists [playlists]="playlists" (view)="viewPlaylist($event)" (edit)="editPlaylist($event)"
            (delete)="deletePlaylist($event)">
        </app-playlists>
    </div>
    <div class="col-6">

        <ng-template #mymodal [ngIf]="show">
            <form (submit)="editOrAddAPlaylist($event)" class="p-5">
                <div class="form-group">
                    <label for="inputEmail4">Playlist Name</label>
                    <input type="text" class="form-control" [(ngModel)]="playlistName" name="name" required>
                </div>
                <button type="submit" class="btn btn-dark">Edit Or Add</button>
            </form>
        </ng-template>
        <ng-template #view [ngIf]="showView">
            <div class="w-100 mt-5">
                <img class="" width="50%" height="25%" src="{{playlist.snippet.thumbnails.default.url}}"
                    alt="Playlist image">
                <h3>{{playlist.snippet.title}}</h3>
                <button (click)="close()">Close</button>
            </div>
        </ng-template>
        <ng-template #view [ngIf]="isSearch">
            <div class="card-deck">
                <div class="card border-secondary max-widh" *ngFor="let item of videos.items">
                    <img class="card-img-top" src="{{item.snippet.thumbnails.default.url}}" alt="Playlist image">
                    <div class="card-body">
                        <h6 class="card-title">{{item.snippet.title}}</h6>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>